<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <loyalty>
            <general>
                <loyalty_api_url>https://app.loyaltyengage.tech</loyalty_api_url>
                <tenant_id></tenant_id>
                <bearer_token></bearer_token>
                <cart_expiry_time>1</cart_expiry_time>
                <logger_enable>1</logger_enable>
                <loyalty_order_place_retrieve>5</loyalty_order_place_retrieve>
            </general>
        </loyalty>
        <consumers_runner>
            <consumers>
                <loyaltyshop_purchase_event_consumer>
                    <name>loyaltyshop_purchase_event_consumer</name>
                    <max_messages>0</max_messages>
                </loyaltyshop_purchase_event_consumer>
                <loyaltyshop_return_event_consumer>
                    <name>loyaltyshop_return_event_consumer</name>
                    <max_messages>0</max_messages>
                </loyaltyshop_return_event_consumer>
                <loyaltyshop_free_product_purchase_event_consumer>
                    <name>loyaltyshop_free_product_purchase_event_consumer</name>
                    <max_messages>0</max_messages>
                </loyaltyshop_free_product_purchase_event_consumer>
                <loyaltyshop_free_product_remove_event_consumer>
                    <name>loyaltyshop_free_product_remove_event_consumer</name>
                    <max_messages>0</max_messages>
                </loyaltyshop_free_product_remove_event_consumer>
            </consumers>
        </consumers_runner>
    </default>
</config>
