<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <loyalty>
            <export>
                <purchase_order_status>complete</purchase_order_status>
            </export>
            <frontend>
                <expose_customer_meta>0</expose_customer_meta>
                <account_block_title>Loyalty Overview</account_block_title>
                <account_navigation_label>Loyalty</account_navigation_label>
                <account_navigation_sort_order>155</account_navigation_sort_order>
                <le_current_tier_enabled>1</le_current_tier_enabled>
                <le_current_tier_label>Current Loyalty Tier</le_current_tier_label>
                <le_points_enabled>1</le_points_enabled>
                <le_points_label>Loyalty Points</le_points_label>
                <le_available_coins_enabled>1</le_available_coins_enabled>
                <le_available_coins_label>Available Loyalty Coins</le_available_coins_label>
                <le_next_tier_enabled>1</le_next_tier_enabled>
                <le_next_tier_label>Next Loyalty Tier</le_next_tier_label>
                <le_points_to_next_tier_enabled>1</le_points_to_next_tier_enabled>
                <le_points_to_next_tier_label>Points to Next Tier</le_points_to_next_tier_label>
                <le_reserved_coins_enabled>1</le_reserved_coins_enabled>
                <le_reserved_coins_label>Reserved Loyalty Coins</le_reserved_coins_label>
                <le_expiring_points_30d_enabled>1</le_expiring_points_30d_enabled>
                <le_expiring_points_30d_label>Expiring Points (30 days)</le_expiring_points_30d_label>
            </frontend>
            <general>
                <module_enable>1</module_enable>
                <loyalty_api_url>https://app.loyaltyengage.tech</loyalty_api_url>
                <tenant_id></tenant_id>
                <bearer_token></bearer_token>
                <cart_expiry_time>1</cart_expiry_time>
                <logger_enable>0</logger_enable>
                <debug_logging>0</debug_logging>
                <loyalty_order_place_retrieve>5</loyalty_order_place_retrieve>
                <max_loyalty_products>0</max_loyalty_products>
                <minimum_order_value>0</minimum_order_value>
                <minimum_order_value_message><![CDATA[Your cart subtotal must be at least €{{minimum}} to add loyalty products. Current subtotal: €{{current}}]]></minimum_order_value_message>
                <minimum_order_value_bar_color>#e74c3c</minimum_order_value_bar_color>
                <minimum_order_value_text_color>#ffffff</minimum_order_value_text_color>
                <loyalty_product_removed_message><![CDATA[Your loyalty product(s) have been removed because your cart total dropped below the minimum of €{{minimum}}. Current total: €{{current}}]]></loyalty_product_removed_message>
            </general>
        </loyalty>
    </default>
</config>
